.hid {
    background-color: #FFE3E3;
    text-align: center;
}

.search-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #ffffff;
    padding: 1rem 1.3rem;
    border-radius: 0.6rem;
    color: #fff;
    width: 35vw;
    margin: 0 auto;
    cursor: text;
    height: 2.2rem;
    border: #ec1010 1px solid;
}

.bt-ser {
    margin-left: 20px;
    margin-right: 0px;
}

.log-bar {
    margin-top: 30px;
}

.logo-img {
    width: 250px;
    right: 100px;
}

.but {
    background-color: #494848;
    text-align: center;
    border: honeydew 1px solid;
    border-radius: 5px;
    /* height: 55px; */
    padding: 14px;
}

.main-box {
    background-color: lightsteelblue;
    height: 500px;
    border-radius: 10px;
    border: honeydew 1px solid;
}

.boll {
    background-color: #d30010;
    margin: 5px;
    padding: 12px;
    border-radius: 10px 0px 10px 0;
    text-align: center;
}

.but1 {
    background-color: #494848;
    padding: 5px;
    height: 180px;
    margin-left: 20px;
}

.butto {
    width: 150px;
}

.tex-log {
    width: 20%;
}

.nav-but {
    padding: 15px;
    background-color: #494848;
    width: 190px;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
}

.nav-tex {
    color: honeydew;
    font-weight: bold;
    font-size: 15px;
}

.nav-but1 {
    padding: 15px;
    background-color: #d30010;
    width: 200px;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
}

.nav-barr {
    color: honeydew;
    font-weight: bold;
    font-size: 15px;
}

.px-sid {
    background-color: honeydew;
    height: 80px;
    margin: 5px;
    width: 300px;
    margin-left: 15px;
}

.bt-ser-box {
    margin: 5px;
    background-color: honeydew;
    width: 85px;
    font-size: 15px;
}

.bt-ser-box-head {
    background-color: honeydew;
    width: 175px;
    font-size: 15px;
}

.btn-boll {
    height: 78px;
    width: 60px;
    font-size: 15px;
    background-color: #d30010;
    border: #d30010 1px solid;
}

.paas-word {
    font-size: 10px;
    padding-left: 10px;
}

.log-box {
    padding: 1px;
    background-color: lightgray;
    border: red 1px solid;
    text-align: center;
    border-radius: 5px;
}

.log-tet {
    font-size: 11px;
    color: red;
}

.ser-tex {
    color: #d30010;
    float: right;
}

.box-ser {
    float: right;
    padding: 5px;
    background-color: #d30010;
    border-radius: 5px;
}

.ser-txt-box {
    color: #fff;
}

.hr-ser {
    color: #d30010;
}

.seg-box {
    background-color: grey;
    height: 200px;
    margin: 5px auto;
}

.areng-box {
    float: right;
}

.box-ser-res {
    height: 150px;
    border: red 1px solid;
    margin: 3px;
}

.smm-box {
    border: #d30010 3px solid;
    height: 69px;
    margin: 5px;
}

.box-car-im {
    border: #d30010 solid 3px;
}

.dar-der {
    float: right;
}

.car-im-bg {
    height: 300px;
    background-color: red;
    width: 100%;
}

.ca-sm-pic {
    margin: 3px auto;
    background-color: silver;
    border: 1px red solid;
    height: 50px;
}

.hed-li {
    background-color: lightgray;
    height: 30px;
    margin: 2px;
    border: red 1px solid;
}

.car-tix {
    float: right;
}

.na-all {
    background-color: #d30010;
    height: 350px;
}

.nv-tb {
    background-color: gray;
    color: white;
    margin-right: 20px;
}

.dil-box {
    background-color: white;
    border-radius: 5px;
    height: 30px;
    margin: 20px;
    width: 170px;
}

.bill-box {
    margin: 20px;
}

.pri-box {
    height: 200px;
    float: right;
}

.p-box {
    border: red 1px solid;
    height: 100px;
    width: 400px;
}