<div class="col-md-14">
    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <hr class="hr-ser">
                </div>
                <div class="col-md-2">
                    <h4 class="dar-der"> سعر السيارة</h4>

                </div>
                <div class="col-md-2">
                    <h4 class="dar-der"> اجمالي السيارة</h4>

                </div>
                <div class="col-md-8">
                    <h4 class="dar-der"> وصف السيارة</h4>

                </div>

                <div class="col-md-12">
                    <hr class="hr-ser">
                </div>

                <div class="col-md-7">
                    <div class="na-all">
                        <ul ngbNav #nav="ngbNav" class="nav-tabs">
                            <li ngbNavItem class="nv-tb">
                                <a ngbNavLink>تقريرالفحص</a>

                            </li>
                            <li ngbNavItem class="nv-tb">
                                <a ngbNavLink>التجهيزات</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>

                                    </div>
                                </ng-template>

                            </li>
                            <li ngbNavItem class="nv-tb">
                                <a ngbNavLink>تقرير حالة المركبة</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>

                                    </div>
                                </ng-template>
                            </li>
                            <li ngbNavItem class="nv-tb">
                                <a ngbNavLink>معلومات المركبة</a>
                                <ng-template ngbNavContent>
                                    <div class="row">
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>
                                        <div class="col-md-3 bill-box">
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>
                                            <div class="dil-box">
                                                <h6>مقاعد جلد</h6>
                                            </div>

                                        </div>

                                    </div>
                                </ng-template>
                            </li>
                        </ul>
                        <div [ngbNavOutlet]="nav"></div>
                    </div>

                    <div class=" pri-box">
                        <div class="6">

                        </div>
                        <div class="4">
                            <div class="p-box">
                                <h5>سعر السيارة</h5>
                                <button type="button" class="btn btn-danger">احجز الان</button>

                            </div>


                        </div>

                    </div>

                </div>
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="car-im-bg">

                            </div>
                        </div>

                        <div class="col-md-2 ca-sm-pic">

                        </div>
                        <div class="col-md-2 ca-sm-pic">

                        </div>
                        <div class="col-md-2 ca-sm-pic">

                        </div>
                        <div class="col-md-2 ca-sm-pic">

                        </div>
                        <div class="col-md-2 ca-sm-pic">

                        </div>
                    </div>



                </div>
            </div>




        </div>
    </div>
</div>
<router-outlet></router-outlet>