<script src="https://kit.fontawesome.com/a1a8aa7402.js" crossorigin="anonymous"></script>
<div class="contaner hid">
    <div *ngxPermissionsOnly="['ROLE_USER','']" class="row">
        <div class="col-md-1">
            <a (click)="openAboutPage(6)" routerLink="">
                <h6 class="fav-tx">تقريرالفحص</h6>
            </a>
        </div>

        <div class="col-md-1">
            <a  (click)="openAboutPage(5)" routerLink="">
                <h6 class="fav-tx">قبل الشراء</h6>
            </a>
        </div>

        <div class="col-md-1">
            <a (click)="openAboutPage(4)" routerLink="">
                <h6 class="fav-tx">خدمة عملاء</h6>
            </a>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <h6 class="fav-tx">سلع جديدة</h6>
        </div>
        <div class="col-md-1">
            <h6 class="fav-tx">سلع موجودة</h6>
        </div>

        <div class="col-md-2">
            <a (click)="openAboutPage(2)" routerLink="">
                <h6 class="fav-tx">طريقة التقسيط</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a (click)="openAboutPage(2)" routerLink="">
                <h6 class="fav-tx">الخصومات</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a  (click)="openAboutPage(3)" routerLink="">
                <h6 class="fav-tx">بيع معنا</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a (click)="openAboutPage(2)" routerLink="">
                <h6 class="fav-tx">عملية حجز</h6>
            </a>
        </div>
        <div class="col-md-1">
            <h6 class="fav-tx">عربي</h6>
        </div>

    </div>

    <div *ngxPermissionsOnly="['ROLE_ADMIN']" class="row">

        <div class="col-md-1">
            <a [routerLink]="['news/add']">
                <h6 class="fav-tx">خبر جديد</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a [routerLink]="['carType/add']">
                <h6 class="fav-tx">اضافة ماركة</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a  [routerLink]="['cars/add']">
                <h6 class="fav-tx">اضافة سيارة</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a [routerLink]="['done/list']">
                <h6 class="fav-tx">قائمة الطلبات المنتهية</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a  [routerLink]="['agreement/list']">
                <h6 class="fav-tx">قائمة التعاقدات</h6>
            </a>
        </div>
        <div class="col-md-1">
            <a [routerLink]="['waiting/list']">
                <h6 class="fav-tx">قائمة الانتظار</h6>
            </a>
        </div>
        <div class="col-md-1">
            <h6 class="fav-tx">عربي</h6>
        </div>

    </div>
</div>

<div class="contaner">
    <div class="row log-bar">
        <div class="col-md-1">
            <a routerLink="/favorite">
                <h5 class="fav-tx"><img src="../../../assets/img/sd.PNG" class="cart-img">المفضلة</h5>
            </a>
        </div>
        <div class="col-md-1">
            <a routerLink="/reservation">
                <h5 class="fav-tx"><img src="../../../assets/img/sd.PNG" class="cart-img">طلباتى</h5>
            </a>
        </div>
        <div class="col-md-2">
            <a *ngIf="!isAuthenticated()" routerLink="/login">
                <h5 class="fav-tx"><img src="../../../assets/img/ass.PNG" class="cart-img2">التسجيل الان </h5>
            </a>
            <a *ngIf="isAuthenticated()" routerLink="" (click)="logout()">
                <h5 class="fav-tx">تسجيل الخروج</h5>
            </a>
        </div>
        <div class="col-md-1">
            <button type="submit" (click)="generalCategorySearch()" class="btn btn-danger clsd"><span
                    class="glyphicon glyphicon-search" aria-hidden="true"></span><img
                    src="../../../assets/img/sarsh.PNG" class="cart-img3"></button>
        </div>
        <div class="col-md-3">
            <input [(ngModel)]="generalSearchText" #generalSearchT="ngModel" class="search-bar" type="text" name="generalSearch" id="generalSearch">
        </div>

        <div class="col-md-2 bt-ser">
            <div class="row">
                <div class="col">
                    <select *ngIf="lookups" [(ngModel)]="generalSearchCategory" #generalSearchCate="ngModel" class="btn btn-outline-danger bix-bil">
                        <option value="all">جميع الفئات</option>
                        <option *ngFor="let category of lookups.categories;" value="{{category}}">{{category}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-md-1 logo-img">
            <a routerLink="/">
                <img src="../assets/img/logo.PNG" class="logo-img">
            </a>
        </div>
    </div>
</div>
<div class="main-content " hl-sticky="">
    <div class="container-fluid ">
        <div class="row">

            <div class="col-md-2 box-gen">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 boll">
                            <h6 class="nav-tex">شوهدت مؤخرا</h6>
                        </div>
                        <div class="row ">
                            <div class="col-md-10 but1 ">
                                <a *ngFor="let car of localStorageLastSeenCars" [routerLink]="['/car',car.carId]">
                                    <img src="{{car.image}}" alt="{{car.carId}}" class="col-md-12 px-sid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 boll">
                            <h6 class="nav-tex">مقترحة لك</h6>
                        </div>
                        <div class="row ">
                            <div class="col-md-10 but1 ">
                                <a *ngFor="let car of suggestedCars" [routerLink]="['/car',car.id]">
                                    <img src="{{car.images.split(',')[0]}}" alt="{{car.name}}" class="col-md-12 px-sid">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div [routerLink]="['/favorite']" class="fav-dg-bt">
                            <h6 class="hsd-tex">المفضلة</h6>
                        </div>

                    </div>
                    <div class="col-md-12">
                        <div [routerLink]="['/reservation']" class="fav-dg-bt2">
                            <h6 class="hsd-tex">طلباتي</h6>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-md-10 box-gen">
                <ng-content select=".container-body">
                </ng-content>
            </div>
        </div>

    </div>
</div>