<script src="https://kit.fontawesome.com/a1a8aa7402.js" crossorigin="anonymous"></script>
<div class="contaner hid">
    <div class="row">
        <div class="col-md-1">
            <h6 class="hed-fli">تقريرالفحص</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">اجراء سريع</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">خدمة عملاء</h6>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">سلع جديدة</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">سلع موجودة</h6>
        </div>
        <div class="col-md-1">
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">طريقة التقسيط</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">الخصومات</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">بيع معنا</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">عملية حجز</h6>
        </div>
        <div class="col-md-1">
            <h6 class="hed-fli">عربي</h6>
        </div>

    </div>
</div>

<div class="contaner">
    <div class="row log-bar">
        <div class="col-md-1">
            <h5 class="fav-tx">المفضلة </h5>
        </div>
        <div class="col-md-1">
            <a routerLink="/reservation">
                <h5 class="fav-tx"><img src="../../../assets/img/sd.PNG" class="cart-img">طلباتى</h5></a>
        </div>
        <div class="col-md-2">
            <a *ngIf="!isAuthenticated()" routerLink="/login">
                <h5 class="fav-tx"><img src="../../../assets/img/ass.PNG" class="cart-img2">التسجيل الان </h5>
            </a>
            <a *ngIf="isAuthenticated()" routerLink="/login">
                <button (click)="logout()">تسجيل الخروج </button>
            </a>
        </div>
        <div class="col-md-1">
            <button type="submit" (click)="generalCategorySearch()" class="btn btn-danger clsd"><span
                class="glyphicon glyphicon-search" aria-hidden="true"></span><img src="../../../assets/img/sarsh.PNG" class="cart-img3"></button>
        </div>
        <div class="col-md-3">
            <input [(ngModel)]="generalSearchText" #generalSearchT="ngModel" class="search-bar" type="text" name="generalSearch" id="generalSearch">
        </div>

        <div class="col-md-2 bt-ser">
            <div class="row">
                <div class="col">
                    <select *ngIf="lookups" [(ngModel)]="generalSearchCategory" #generalSearchCate="ngModel" class="btn btn-outline-danger form-control form-control-lg dropdownBasic1 bix-bil">
                        <option value="all">جميع الفئات</option>
                        <option *ngFor="let category of lookups.categories;" value="{{category}}">{{category}}</option>
                    </select>
                </div>
            </div>

        </div>
        <div class="col-md-1 logo-img">
            <a routerLink="/">
                <img src="../assets/img/logo.PNG" class="logo-img">
            </a>
        </div>
    </div>
</div>
<div class="main-content ">
    <div class="container-fluid ">
        <div class="row">

            <div class="col-md-2 box-gen">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 boll">
                            <h6 class="nav-tex">شوهدت مؤخرا</h6>
                        </div>
                        <div class="row ">
                            <div class="col-md-10 but1 ">
                                <a *ngFor="let car of localStorageLastSeenCars" [routerLink]="['/car',car.carId]">
                                    <img src="{{car.image}}" alt="{{car.carId}}" class="col-md-10 px-sid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12 boll">
                            <h6 class="nav-tex">مقترحة لك</h6>
                        </div>
                        <div class="row ">
                            <div class="col-md-10 but1 ">
                                <a *ngFor="let car of suggestedCars" [routerLink]="['/car',car.id]">
                                    <img src="{{car.images.split(',')[0]}}" alt="{{car.name}}" class="col-md-10 px-sid">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 box-gen">
                <ng-content select=".container-body">
                </ng-content>
            </div>
        </div>

    </div>
</div>