.but {
    background-color: #494848;
    text-align: center;
    border: honeydew 1px solid;
    border-radius: 5px;
    /* height: 55px; */
    padding: 14px;
}

.nav-but1 {
    padding: 15px;
    background-color: #d30010;
    width: 200px;
    margin: 1px;
    border-radius: 5px;
    text-align: center;
}
.bd-txt{
    font-weight: bold;
    font-size: 15px;
    text-align: right;
    
}
.bd-txt2{
    font-weight: bold;
    font-size: 20px;
    float: right;
}
.bd-txt3{
    font-weight: bold;
    font-size: 30px;
    float: right;
}

.fv{
    margin: 30px;
}
.nav-barr{
    font-size: 15px;
    color: #fff;
    font-weight: bold;
    
}
.gvr{
    color: #d30010;
    background-color: #d30010;
}
.eee{
    padding: 15px;
    text-align: right;
}
.ord-img{
    height: 110px;
    width: 110px;
    margin: 10px;
}
.ord-box{
    background-color: #b4b3b3;
    margin: 5px;
}
.pr-pn{
    margin: 20px;
}